  <div class="booking-form-container">
    <%# need an address attribute for listing %>
    <div class="form-wrapper">
      <div class="rate-container">
        <p><%= "$" %><%= @equipment_listing.hourly_rate %><%= " hour" %></p>
      </div>
        <%= simple_form_for [ @equipment_listing, @booking ] do |f| %>
        <%= f.datetime_field :book_from, class: "btn-input" %>
        <%= f.datetime_field :book_to, class: "btn-input" %>
        <%= f.button :submit, class: "btn-pink" %>
      <% end %>
    </div>
  </div>
