<div class="row d-flex align-items-center justify-content-between mb-3">
  <h3 class="mt-5 mb-2">My Bookings</h3>
</div>

  <% @bookings.each do | booking | %>

    <div class="booking-card">
      <div class="booking-card-status status"><%= booking.status %></div>

      <div class="booking-card-thumbnail" style="background-image:  url('<%= cl_image_path booking.equipment_listing.photo.key  %>')">

      </div>

      <div class="booking-card-content p-3">
        <h3 class="m-0 mb-1"><%= booking.equipment_listing.name %></h3>
        <span class="m-0">Address</span>
      </div>

      <div class="booking-card-date p-3">
        <span class="m-0"><strong>From:</strong> <%= booking.book_from.strftime("%b %d %H:00 (%a)") %></span>
        <br>
        <span class="m-0"><strong>To: </strong><%= booking.book_to.strftime("%b %d %H:00 (%a)") %></span>

      </div>

    </div>

  <% end %>

<script>

  // Adding styling after generating bookings list
  var bookingStatus = document.querySelectorAll('.status')
  bookingStatus.forEach(status => {
    if (status.innerHTML === 'accepted') {
      status.classList.add('accepted');
      status.innerHTML = '<span class="material-icons">check_circle_outline</span>';
    } else if (status.innerHTML === 'pending') {
      status.classList.add('pending');
      status.innerHTML = '<span class="material-icons">pending</span>';

      } else if (status.innerHTML === 'denied') {
       status.classList.add('denied');
       status.innerHTML = '<span class="material-icons">cancel</span> ';
      }
  });


</script>
