<div class="container mt-5">
<h2><%= @equipment_listing.name %></h2>
  <%# need an address attribute for listing %>
  <%= simple_form_for [ @equipment_listing, @booking ] do |f| %>
  <%= f.time_field :book_from %>
  <%= f.time_field :book_to %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
