<div class="form-wrapper">
  <div class="rate-container">
    <p></p>
  </div>
  <div class="container pt-5">
    <%= simple_form_for [ @equipment_listing ] do |f| %>
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.input :category, collection: [
                              'Archery',
                              'Ball & Net',
                              'Bat & Ball',
                              'Board',
                              'Climbing',
                              'Cycling',
                              'Combat',
                              'Snow Sports',
                              'Aquatic Sports',
                              'Others'
                            ]
 %>
    <%= f.input :hourly_rate, input_html: { min: 0, max: 1000 } %>
    <%= f.input :address,
    input_html: { data: { geocoder_target: 'address' } },
    wrapper_html: { data: { controller: 'geocoder',
    geocoder_api_key_value: ENV["MAP_BOX_API_KEY"] } } %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
