<div class="form-wrapper">
  <div class="rate-container">
    <p></p>
  </div>
  <div class="container pt-5">
    <%= simple_form_for [ @equipment_listing ] do |f| %>
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.input :category, collection: [ "indoors", "outdoors", "winter"] %>
    <%= f.input :hourly_rate, input_html: { min: 0, max: 1000 } %>
    <%= f.input :address %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
