<div class="d-flex align-items-center justify-content-between mb-3 pt-5">
  <div class="text-decoration-none">
    <%= link_to "Back", root_path, class: "btn-pink" %>
  </div>
</div>

<div class="container mb-6">
  <% if  @equipment_listing.nil? == false %>
    <div class="d-flex flex-column">
      <div>
        <div class="d-flex flex-fill">
        <!-- IMAGE FROM cloudinary LATER -->
          <% if @equipment_listing.photo.key.nil? %>
            <%= "No Image available yet" %>
          <% else %>
         <%= cl_image_tag @equipment_listing.photo.key, height: 500, width: 1270, crop: :fill, id: "show-page-image" %>
          <% end %>
        </div>
      </div>
      <div class="d-flex pb-4">
        <div class="flex-fill mx-4">
          <div class="card-title pt-3">
            <h1 class="fw-bold"><%= @equipment_listing.name %></h1>
          </div>
          <div class="card-title border-bottom">
            <p class="fs-7 fst-italic"><%= @equipment_listing.address %></p>
          </div>
          <div class="listing-show-text card-subtitle status pt-4">
            <p class="fs-5"><%= @equipment_listing.description %></p>
          </div>
        </div>
     <%= render "bookings/form", booking: @booking %>
      </div>
    </div>
    <!--- Review -->
    <div class="reviews-container border-top pt-4">
    <% if Review.present? %>
      <h2 class="fw-bold">Reviews for <%= @equipment_listing.name %></h2>
      <!--- Review Form -->
      <%= simple_form_for [@equipment_listing, @review] do |f| %>
      <%= f.input :content, as: :text, label: false %>
      <%= f.submit 'Submit', class:"btn-pink" %>
      <% end %>

      <!--- Review List -->
      <% @equipment_listing.reviews.order(created_at: :desc).each do |review| %>
        <div>
          <p id="reviews" class="pt-3 fst-italic"><i class="fas fa-quote-left fas-2x"></i> <%= review.content %></p>
        </div>
      <% end %>
    <% else %>
      <h2 class="fw-bold">Be the first one to leave a review for <%= @equipment_listing.name %></h2>
    <% end %>
    </div>

    <div class="map-container pt-4 border-top mt-4">
      <h2 class="fw-bold">Where you will pick it up</h2>
      <%= render "equipment_listings/map" %>
    </div>

    <% else %>
      No item found for ID <%= @equipment_listing_id %>
  <% end %>
</div>
