<h1 class="text-center">Sports Equipment</h1>

<div class="d-flex align-items-center justify-content-between mb-3 ">

</div>
  <div class="row m-10" id="listings">
    <% EquipmentListing.all.each do |equipment| %>
      <div class="listing-list-item col-12 col-sm-6 col-md-4 mr-6">
        <% if equipment.photo.attached? %>

        <div class="listing-card-image">
          <%= cl_image_tag equipment.photo.key, width: 300, fetch_format: :auto, crop: "scale", class: "listing-card-image" %>
          <div class="d-flex card-thumbnail">
            <div class="status status-container"><%= equipment.available %></div>
        </div>
        </div>

          <% else %>
          <%= cl_image_tag "q2zwdzid3a3vo6m5786rtisfjxbb", width: 300, fetch_format: :auto, crop: "scale", class: "listing-card-image" %>
        <% end %>

      <div class="listing-card-body p-3 shadow">
        <div class="card-title">
          <h3><%= equipment.name %></h3>
        </div>
        <div class="card-subtitle mb-2 text-muted d-flex justify-content-between">
          <p><%= equipment.category %></p>
          <p>$<%= equipment.hourly_rate %> p/h</p>
        </div>
        <div class="card-text">
          <p><%= equipment.description %></p>
        <div class="card-footer ">
          <%= link_to equipment_listing_path(equipment), class:"text-decoration-none" do %>
            <div class="card-link align-middle">Check it out</div>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  <% end %>
</div>

<script>
var bookingStatus = document.querySelectorAll('.status')
  bookingStatus.forEach(status => {
    if (status.innerHTML === 'true') {
      status.classList.add('accepted');
      status.innerHTML = '<span class="material-icons">check_circle_outline</span>';
    } else if (status.innerHTML === 'false') {
        status.classList.add('denied');
        status.innerHTML = '<span class="material-icons">cancel</span> ';
      }
  });


</script>
