
     <div class="d-flex flex-column bd-highlight mb-3 align-items-center">
      <i class="fas fa-bullseye pb-2"></i>
      <%= link_to 'Archery', equipment_listings_path(category: 'Archery'), class: "" %>
    </div>

     <div class="d-flex flex-column bd-highlight mb-3 align-items-center">
      <i class="fas fa-baseball-ball pb-2"></i>
      <%= link_to 'Ball & Net', equipment_listings_path(category: 'Ball & Net'), class: "" %>
    </div>

    <div class="d-flex flex-column bd-highlight mb-3 align-items-center">
    <i class="fas fa-quidditch pb-2"></i>
      <%= link_to 'Bat & Ball', equipment_listings_path(category: 'Bat & Ball'), class: "" %>
    </div>

    <div class="d-flex flex-column bd-highlight mb-3 align-items-center">
      <i class="fas fa-skating pb-2"></i>
      <%= link_to 'Board', equipment_listings_path(category: 'Board'), class: "" %>
    </div>

    <div class="d-flex flex-column bd-highlight mb-3 align-items-center">
      <i class="fas fa-hiking pb-2"></i>
      <%= link_to 'Climbing', equipment_listings_path(category: 'Climbing'), class: "" %>
    </div>

    <div class="d-flex flex-column bd-highlight mb-3 align-items-center">
      <i class="fas fa-bicycle pb-2"></i>
      <%= link_to 'Cycling', equipment_listings_path(category: 'Cycling'), class: "" %>
    </div>

    <div class="d-flex flex-column bd-highlight mb-3 align-items-center">
      <i class="fas fa-fist-raised pb-2"></i>
      <%= link_to 'Combat', equipment_listings_path(category: 'Combat'), class: "" %>
    </div>

    <div class="d-flex flex-column bd-highlight mb-3 align-items-center">
      <i class="fas fa-skiing pb-2"></i>
      <%= link_to 'Snow Sports', equipment_listings_path(category: 'Snow Sports'), class: "" %>
    </div>

    <div class="d-flex flex-column bd-highlight mb-3 align-items-center">
      <i class="fas fa-swimmer pb-2"></i>
      <%= link_to 'Aquatic Sports', equipment_listings_path(category: 'Aquatic Sports'), class: "" %>
    </div>

    <div class="d-flex flex-column bd-highlight mb-3 align-items-center">
      <i class="fas fa-rocket pb-2"></i>
      <%= link_to 'Others', equipment_listings_path(category: 'Others'), class: "" %>
    </div>
