
    <div class="pv1">
      <%= link_to 'Archery', equipment_listings_path(category: 'Archery'), class: "" %>
    </div>

    <div class="pv1">
      <%= link_to 'Ball & Net', equipment_listings_path(category: 'Ball & Net'), class: "" %>
    </div>

    <div class="pv1">
      <%= link_to 'Bat & Ball', equipment_listings_path(category: 'Bat & Ball'), class: "" %>
    </div>

    <div class="pv1">
      <%= link_to 'Board', equipment_listings_path(category: 'Board'), class: "" %>
    </div>

    <div class="pv1">
      <%= link_to 'Climbing', equipment_listings_path(category: 'Climbing'), class: "" %>
    </div>

    <div class="pv1">
      <%= link_to 'Cycling', equipment_listings_path(category: 'Cycling'), class: "" %>
    </div>

    <div class="pv1">
      <%= link_to 'Combat', equipment_listings_path(category: 'Combat'), class: "" %>
    </div>

    <div class="pv1">
      <%= link_to 'Snow Sports', equipment_listings_path(category: 'Snow Sports'), class: "" %>
    </div>

    <div class="pv1">
      <%= link_to 'Aquatic Sports', equipment_listings_path(category: 'Aquatic Sports'), class: "" %>
    </div>

    <div class="pv1">
      <%= link_to 'Others', equipment_listings_path(category: 'Others'), class: "" %>
    </div>
