<!DOCTYPE html>
<html>
  <head>
    <title>Tryit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
 <div class="px-2 py-2 navbar sticky-top nav nav-item dropdown p-1 shadow">

    <div class="container pb-2">

      <!-- Brand and logo -->
      <div class="d-flex flex-row" style="margin: 0!important; font-weight: bold;">
        <div class="navbar-logo">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><title>sports_hockey</title><g fill="none"><path d="M2 17v3h2v-4H3c-.55 0-1 .45-1 1z" fill="#212121"></path><path d="M9 16H5v4l4.69-.01c.38 0 .72-.21.89-.55l.87-1.9-1.59-3.48L9 16z" fill="#212121"></path><path d="M21.71 16.29A.997.997 0 0 0 21 16h-1v4h2v-3c0-.28-.11-.53-.29-.71z" fill="#212121"></path><path d="M13.6 12.84L17.65 4H14.3l-1.76 3.97-.49 1.1-.05.14L9.7 4H6.35l4.05 8.84 1.52 3.32.08.18 1.42 3.1c.17.34.51.55.89.55L19 20v-4h-4l-1.4-3.16z" fill="#212121"></path></g></svg>
        </div>
        <div class="navbar-brand">
          <a class="navbar-brand margin: 0!important;" href="/">TryIt</a>
        </div>
      </div>

      <!-- Search Bar showing only on index page of listings -->
      <% if current_page?(equipment_listings_path) %>
        <%= render 'layouts/search' %>
      <% end %>

      <!-- Dropdown menu -->
      <%= render 'layouts/dropdown' %>
    </div>

    <!-- filter pannel -->
    <div class="container border-top pt-4">
      <%= render 'layouts/filter' %>
    </div>
  </div>

  <!-- banner showing only on the home page -->
  <% if current_page?(root_path) %>
    <%= render 'layouts/banner' %>
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


  <div class="container">
    <%= yield %>
  </div>

  </body>
</html>
